
    <div  style="padding-left: 20px; padding-right: 20px">
        <div class="class">
            <h1>New Event</h1>
            <hr/>
            <form action="" name="newEventForm">
                <fieldset>
                    <label for="eventName">Event Name</label>
                    <input id="eventName" ng-model="event.name" type="text" placeholder="Name of your event"/>

                    <label for="eventDate">Event Date</label>
                    <input id="eventDate" ng-model="event.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" type="text" placeholder="format (mm/dd/yyyy)"/>

                    <label for="eventTime">Event Time</label>
                    <input id="eventTime" ng-model="event.time" type="text" placeholder="Start and end time ..."/>

                    <label for="eventLocation">Event Location:</label>
                    <input id="eventLocation" ng-model="event.location.address" type="text" placeholder="Address of  event"/>
                    <br/>

                    <input id="eventCity" ng-model="event.location.city" type="text" class="input-small" placeholder="City ..."/>
                    <input id="eventProvince" ng-model="event.location.province" type="text" class="input-small" placeholder="Province ..."/>
                    <label for="eventImageUrl">Image:</label>
                    <input id="eventImageUrl" type="url"  ng-model="event.imageUrl" class="input-xlarge" placeholder="Url of image ..."/>


                </fieldset>
                <img ng-src="{{event.imageUrls}}" src="" >

                <br/>
                <br/>
                <button type="submit"  ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>

    </div>
